html, body {
  margin: 20px;
  background-color: #eee;
}

.social-networks-bar {
  position: absolute;
  top: 10px;
  right: 10px;
}

code {
  white-space: pre;
  font-family: "Consolas", "Menlo", "Courier", monospace;
  font-size: 0.8em;
}

div.form {
  margin: 30px;
  border: 1px solid #fff;
  padding: 10px;
  display: inline-block;
}
