<div class="form">
  <div class="field">
  <label>
    User name: {{input value=name}}
  </label>
  </div>
  <div class="field">
    <label>
      Is session user? {{input type='checkbox' checked=isSessionUser}}
    </label>
  </div>
</div>
